.main{
  display: flex;
  flex-wrap: wrap;
}
.select {
  background-color: darksalmon;
  cursor: pointer;
  -webkit-animation: action 1s infinite  alternate;
  animation: action 0.5s infinite  alternate;
}
@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}
@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}